<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container">
  <h2>{{title}}</h2>
</div>
<div class="container">
  <table class = "table table-sm">
    <thead>
    <tr>
      <th *ngFor = 'let label of columnHeaders'>
        {{label}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = 'let stock of stockList'>
      <td>{{stock.companyNameShort}}</td>
      <td>{{stock.companyName}}</td>
      <td>{{stock.stockPrice_current | currency:'USD':true:'1.2-2'}}</td>
      <td>{{stock.stockPrice_current - stock.stockPrice_yesterday | currency:'USD':true:'1.2-2'}}</td>
      <td>{{((stock.stockPrice_current / stock.stockPrice_yesterday) - 1) | number: '1.1-2'}}%</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
